@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Merriweather", serif;
}
/* header style */
.banner-container{
    height: 600px;
    max-width: 1320px;
    
    margin: 0 auto;
    margin-top: 20px;
    background-image: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
}
.banner-contents{
    color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 600px;
   line-height: 55px;
}
.banner-contents h1{
    font-size: 52px;
}
/* second section container style */
.second-section-container{
    width: 802.9px;
    height: 806px;
   margin: 120px auto;
   text-align: center;
}
.second-section-contents h1{
    color: rgb(255, 0, 0);
    font-size: 88px;
    font-weight: 700; 
    font-family: Inter; 
}
.second-section-contents p{
    color: rgb(255, 0, 0);
   
    font-size: 24px;
    font-weight: 500;
    line-height: 107px;
}
.second-section-contents h3{
    color: rgb(7, 2, 17);
font-family: Inter;
font-size: 48px;
font-weight: 700;
margin-bottom: 150px;

}
.image-container{
    width: 802.9px;
height: 500px;
}
..image-container img{
    width: 802.9px;
    height: 500px;
}