@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Merriweather", serif;
}
/* header style */
.banner-container{
    height: 600px;
    width: 1320px;
    border: 1px solid red;
    margin: 0 auto;
    margin-top: 20px;
    background-image: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
}
.banner-contents{
    color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 600px;
   line-height: 55px;
}
.banner-contents h1{
    font-size: 52px;
}
