@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Merriweather", serif;
}
/* header style */
.banner-container{
    height: 600px;
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 30px;
    background-image: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
}
.banner-contents{
    color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 600px;
   line-height: 55px;
}
.banner-contents h1{
    font-size: 52px;
    font-weight: bold;
}
/* second section container style */
.second-section-container{
    width: 802.9px;
    height: 806px;
   margin: 120px auto;
   text-align: center;
}
.second-section-contents h1{
    color: rgb(255, 0, 0);
    font-size: 88px;
    font-weight: 700; 
    font-family: Inter; 
}
.second-section-contents p{
    color: rgb(255, 0, 0);
   
    font-size: 24px;
    font-weight: 500;
    line-height: 107px;
}
.second-section-contents h3{
    color: rgb(7, 2, 17);
font-family: Inter;
font-size: 48px;
font-weight: 700;
margin-bottom: 150px;

}
.image-container{
    width: 802.9px;
     height: 500px;
}
..image-container .second-section-img{
    width: 802.9px;
    height: 500px;
}
/* mid night contents style */
.midnight-party-contents{
    background-image: url(/images/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 220px;
    display: flex;
}
.left-side-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
   

}
.left-side-content .left-title{
    color: #FFFFFF;
    font-size: 64px;
    font-weight: 900;
}
.left-side-content .left-description{
    color: #FFFFFFCC;
    font-size: 18px;
    font-weight: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.left-side-content .btn{
    color: #FFFFFF;
    font-size: 20px;
    margin-right: 500px;
    font-weight: 700;
    
    
}
.right-side-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-side-content .midnight-party-img{
   
    width: 349.16px;
    height: 464.65px;
}